include README.md
include LICENSE
recursive-include coding_agent/data *.json
recursive-include coding_agent/code *.java
recursive-include coding_agent/code *.xml
recursive-include coding_agent/templates *
include coding_agent/search_engine.py
